
body{
    background-color: white;
    background-image: linear-gradient(#ffffff, #5E94E8);
}

#container{
	margin:0 auto;
	padding-bottom: 50px;
	max-width: 960px;
	width: 100%;
	text-align: center;
	}


.bground{
	background-color: rgba(255, 208, 205, .5);
	width: 325px;
}

#music {
  display:none;
}

  .headline{
    font-family: 'League Script', cursive;
    font-size: 3em;
  }

  .subline{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight:100;
  }

  .year{
    font-family: 'League Script', cursive;
    font-size: 2.5em;
  }

  .listtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight:100;
  }

	.date{
		font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight:100;
		font-style: italic;
	}

	.col{
		color: #f2eec3;
	}

	.footer{
		font-family: 'League Script', cursive;
    font-size: 1.5em;
		color: #f2eec3
	}
